@import "variables.css";
@import "_header.css";
@import "_hero.css";
@import "_footer.css";
@import "_about-section.css";
@import "_carousel.css";

html, body {
  width: 100%;
  background-color: var(--primary-turquoise);
  overflow-x: hidden; /* Prevents any accidental horizontal/vertical spill */
  scroll-behavior: smooth;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
/* 2. Base Document Styles */
body {
  font-family: 'Corben', Georgia, serif;
  line-height: 1.5;
  background-color: var(--primary-turquoise);
  color: var(--dark-text);
}




