@import "/css/variables.css";
@import "/css/_header.css";
@import "/css/_hero.css";
@import "/css/_footer.css";
@import "/css/_about-section.css";
@import "/css/_carousel.css";

html, body {
  width: 100%;
  background-color: var(--primary-turquoise);
  overflow-x: hidden; /* Prevents any accidental horizontal/vertical spill */
  scroll-behavior: smooth;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
/* 2. Base Document Styles */
body {
  font-family: 'Corben', Georgia, serif;
  line-height: 1.5;
  background-color: var(--primary-turquoise);
  color: var(--dark-text);
}




